<div class="manage-footer p-3 d-flex">
  <button *ngIf="hasGoBack()" type="button" class="btn btn-secondary mr-auto" (click)="goBack()">
    Go Back
  </button>
  <button *ngIf="hasDelete()" type="button" class="btn btn-danger mr-auto" (click)="delete()" [disabled]="disabled || deleting">
    <fa-icon *ngIf="deleting" [icon]="spinner" [fixedWidth]="true" [pulse]="true"></fa-icon>
    <fa-icon *ngIf="trashIcon && !deleting" [icon]="trashIcon" [fixedWidth]="true"></fa-icon> {{ trashLabel }}
  </button>
  <button *ngIf="hasSave()" type="{{ saveType }}" class="{{ saveClass }}" (click)="save()" [disabled]="disabled || isSaving()">
    <fa-icon *ngIf="isSaving()" [icon]="spinner" [fixedWidth]="true" [pulse]="true" class="mr-1"></fa-icon>
    <fa-icon *ngIf="saveIcon && !isSaving()" [icon]="saveIcon" [fixedWidth]="true" class="mr-1"></fa-icon> {{ saveLabel }}
  </button>
</div>